/* Global styling */
body {
  font-family: Arial, sans-serif;

  background-color: #f4f4f4;
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Header styling */
header {
  background-color:black;
  color: red;
  padding: 10px;
  text-align: center;
}
p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
}
header li {
  display: inline;
  margin: 0 10px;
}
h1,h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
h3{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
}
h1 {
  text-align: center;
  color: blueviolet;
}
h2{
  text-align: left;
  color: crimson;
}

/* Section styling */
section {
  margin: 20px;
}

section h2 {
  color: red;
  font-size: 1.5em;
  font-style: italic;
}

section ul {
  list-style-type: none;
  padding-left: 0;
  
}

section ul li {
  margin: 10px 0;
  line-height: 1.6;
  font-family: 'Times New Roman', Times, serif;
}

img {
  text-align:left;
  margin: 20px 0;
}

/* .image-container img {
  height: auto;
}

/* Individual image sizes and padding */
.image-container img.img1 {
  width: 160px;  
  padding: 3px;
  border-color: greenyellow;
  
}

.image-container > img {
  width: 200px; 
  height: 215px;  
  border: 3px solid aquamarine;
  
}

.image-container img.img3 {
  width: 150px;  
  height : 170px;
  padding: 3px;
  border-color: #007bff;
} */


/* Footer styling */
footer {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  text-align: center;
}

footer li {
  display: inline;
  margin: 0 10px;
}

footer a {
  color: red;
}

footer a:hover {
  text-decoration: underline;
}

/* Link to the bottom of the page */
#bottom-link, #top-link {
  display: inline-block;
  margin-top: 20px;
  color: red;
}
#buttonNav {
  color:red;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 2px solid red;
    border-radius: 4px;
    background:mintcream;
    transition: all 0.3s;
}
.lowercase-list{
  list-style-type: lower-alpha;
}